@using Abp.Configuration
@using AspZeroDemo.AbpZeroDemo.Configuration
@model AspZeroDemo.AbpZeroDemo.Web.Areas.AppZeroDemo.Models.Layout.QuickThemeSelectionViewModel
@if (SettingManager.GetSettingValue<bool>(AppSettings.UserManagement.IsQuickThemeSelectEnabled))
{
    <div id="kt_demo_panel_toggle" class="topbar-item">
        <div class="@Model.CssClass">
            <i class="flaticon-interface-7"></i>
        </div>
    </div>
}
