@using AspZeroDemo.AbpZeroDemo.Web.Areas.AppZeroDemo.Models.Layout
@using AspZeroDemo.AbpZeroDemo.Web.Areas.AppZeroDemo.Views.Shared.Components.AppZeroDemoLogo
@model HeaderViewModel
@{
    Layout = null;
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})" class="brand-logo">
    @await Component.InvokeAsync(typeof(AppZeroDemoLogoViewComponent), new {logoSkin = "light-sm", logoClass = "max-h-30px"})
</a>
