@using AspZeroDemo.AbpZeroDemo.Web.Areas.AppZeroDemo.Models.Layout
@using AspZeroDemo.AbpZeroDemo.Web.Areas.AppZeroDemo.Views.Shared.Components.AppZeroDemoLogo
@model HeaderViewModel
@{
    Layout = null;
}

<div class="header-logo">
    <a href="@Url.Action("Index", "Home", new {area = string.Empty})" class="brand-logo">
        @await Component.InvokeAsync(typeof(AppZeroDemoLogoViewComponent), new {logoClass = "logo-default max-h-40px"})
        @await Component.InvokeAsync(typeof(AppZeroDemoLogoViewComponent), new {logoSkin = "light", logoClass = "logo-sticky max-h-40px"})
    </a>
</div>
